.main_body{ min-width: 1000px;}
.marg0{ margin: 0;}
.hideButton{ position:absolute!important;left:200px;top:0;width:20px; height:20px; margin:15px 15px 0 0; font-size:17px; text-align:center; padding:5px 5px; color:#fff; background-color:#1AA094; }
.hideButton:hover{ color:#fff; }
.topNavLeft{position:absolute!important;left:230px;top:0}
.sysFrameContent.layui-tab-content {padding: 0px;}
.sysFrameContent.layui-tab-content iframe{ width: 100%;height: 100%;border: none;min-width: 800px;}

.hideLeft .layui-body,.hideLeft .layui-footer,.hideLeft.layui-layout-admin .layui-side,.logo,.top_menu .layui-nav-item[pc],.component,.top_menu .layui-nav-item[mobile],.layui-nav,.layui-layout-admin .layui-main,.site-mobile .layui-side,.layui-layout-admin .layui-side,.site-mobile .site-tree-mobile,.layui-body,.layui-layout-admin .layui-footer,.layui-layout-admin .layui-side,.panel,.panel .panel_icon i{ transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out; }

.hideLeft.layui-layout-admin .layui-side{left: -200px;}
.hideLeft .layui-body,.hideLeft .layui-footer{left: 0px;}
.layui-layout-admin .layui-side{ left:0; }